{{ define "main" }}
<section class="alt purple-background padding15">
  <div class="ml-container">
    <div class="row-content">
      <div class="col-sm-12">
        <h1 class="h1 text-center library-header white-font">{{ .Title }}</h1>
      </div>
    </div>
    <div id="library-main-search" class="row">
      <div class="col-sm-6 col-sm-offset-3">
       {{ partial "search_form" . }}
    </div>
  </div>
</div>
</section>
{{ partial "frontpage_upcoming_webinar" . }}
<section class="primary extra-space-bottom ml-background-shade">
<div class="ml-container">
  <div class="row-content">
    <div class="col-sm-12">

    </div>
  </div>
  <!-- {{ partial "spectre_alert" . }} -->

  {{ $tiles := where .Site.Pages "Params.show_on_frontpage" true }}
  {{ range $i, $section := $tiles }}
  {{ if mod (add $i 1) 3 | eq 1 }}<ul class="ml-blocks-list">{{ end }}
  <li class="ml-blocks-item">
    <a href="{{ .Permalink }}" class="ml-blocks-item-link">
      {{ with .Params.icon }}<h2><i class="fa fa-{{ . }}"></i></h2>{{ end }}
      <h1 class="ml-blocks-item-title">{{ with .Params.title_short }}{{ . }}{{ else }}{{ .Title }}{{ end }}</h1>
      <h6 class="ml-blocks-item-description">{{with .Params.description}}{{ . }}{{ end }}</h6>
    </a>
  </li>
  {{ if or (eq $i (sub 1 (len $tiles))) (mod (add $i 1) 3 | eq 0) }}</ul>{{ end }}
  {{ end }}
</div>
</section>
{{ end }}
